@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Open+Sans+Condensed:wght@300&family=Oswald&display=swap');
 
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans Condensed', sans-serif;
  background-color: #DDFFBC;

  ;
}

.main {
  width: 100%;
  height: 100vh;
  /* background-color: #b19cd9; */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.center {
  width: 28%;
  height: 80vh;
  background-color: #91C483;
  box-shadow: 5px 5px 25px -5px rgba(0, 0, 0, 0.5);
  border-radius: 15px;
}

h1 {
  color: #ffffff;
  background: transparent;
  background-color: #91C483;
  padding: 6px 0 2px 0;
  margin-bottom: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);

}

input {
  color: #ffffff;
  text-align: center;
  height: 30px;
  top: 10px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: bold;
  width: 60%;
  border-bottom: 2px solid #DDFFBC;
  outline: none;
}

button {
  min-height: 5px;
  width: 40px;
  border-radius: 50%;
  border-color: transparent;
  background-color: #DDFFBC;
  color: #ffffff;
  font-size: 40px;
  border: none;
  outline: none;
  margin-left: 10px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
}

button:hover {
  background-color: #20bf6f;
  cursor: pointer;
}

ol {
  margin-top: 30px;
}

ol li {
  padding-left: 10px;
  text-align: left;
  font-size: 25px;
  font-weight: bolder;
  min-height: 40px;
  display: flex;
  align-items: center;
  color: #91C483;
  text-transform: capitalize;
  /* background: transparent; */
}

.toDoStyle {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}

.toDoStyle .fa-times {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #91C483;
  border-radius: 50%;
  margin: 0 15px 0 35px;
  color: aliceblue;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.5);
}

.toDoStyle .fa-times:hover {
  background-color: #20bf6f;
  cursor: pointer;
}